.footer-box01{
    width: 100%;
    height: 220px;
    background-color: rgb(245,245,245);
 }
 .quality{
    width: 1000px;
    height: 270px;
    margin: 0 auto;
 }
 .quality li{
    width: 60px;
    height: 80px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 70px;
    padding-bottom: 70px;
    float: left;
    list-style: none;
 }
 .quality li p{
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
 }
 .footer-box02{
    width: 100%;
    height: 40px;
 }
 .footer-box02 p{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 12px;
    height: 20px;
 }
 .footer-box02 p a{
    color: black;
    padding: 0;
    margin: 0;
 }
 #p1{
    margin-top: 5px;
 }
 #p2{
    bottom: 3px;
 
 } 
