.results{
    position: relative;
    width: 1000px;
    margin-top: 30px;
    left: 50%;
    margin-left: -500px;
}
.header01{
    width: 1000px;
    height: 38px;
    background: rgb(250, 250, 250);
    border-top: .5px solid rgb(230, 230, 230);
    border-bottom: .5px solid rgb(230, 230, 230);
}
.header01 ul{
    width: 600px;
    height: 0;
}
.header01 ul li{
    width: 60px;
    height: 36px;
    color: rgb(71, 71, 71);
    font-size: 14px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(250, 250, 250);
    padding-left: 2px;
}
.header01 ul li:hover{
    color: rgb(33, 155, 236);
    border: 1px solid rgb(33, 155, 236);
}
.header01 ul li .icon{
    position: relative;
    font-size: 16px;
    top: 10px;
}
.header01 ul li .icon:hover{
    color: rgb(200, 200, 200);
}
.header01 ul li .tag{
    position: relative;
    top: 8px;
}
#s-icon{
    margin: 5px 15px 0px 3px;
    cursor: pointer;
}
.s-input{
    width: 180px;
    height: 24px;
    background-color: white;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    margin-top: 5px;
    color: rgb(121, 121, 121);
}
.header02{
    width: 1000px;
    height: 30px;
    border-bottom: .5px solid rgb(230, 230, 230);
}
.header02 ul{
    margin-left: 10px;
}
.header02 ul li{
    width: 85px;
    height: 24px;
    display: inline-block;
    color: rgb(71, 71, 71);
    font-size: 13px;
    text-align: center;
    padding-top: 6px;
}
.header02 ul li img{
    cursor: pointer;
}
.content{
    width: 1000px;
    margin-top: 20px;
}
.goods{
    width: 230px;
    height: 240px;
    border: 1px solid #d9d9d9;
    margin: 0 7px 16px 7px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.contents .img{
    width:230px;
    height:180px ;
    overflow: hidden;
    border-bottom:1px solid #d9d9d9;
}
.describe p{
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 6px;
    color: rgb(77, 77, 77);

    display: -webkit-box;  /**对象作为伸缩盒子模型展示**/
    text-overflow: -o-ellipsis-lastline;  
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /**显示的行数**/
    -webkit-box-orient: vertical; /**设置或检索伸缩盒子对象的子元素的排列方式**/
    word-break: break-all;
}
.describe .price{
    color: rgb(33, 155, 236);
    font-size: 13px;
    padding-bottom: 5px;
    margin-left: 6px;
}
.describe .to-cart{
    font-size: 12px;
    color: rgb(77, 77, 77);
    margin-right: 6px;
    cursor: pointer;
}
.describe .to-cart:hover{
    color: rgb(33, 155, 236);
}
.describe .icon{
    font-size: 15px;
    margin-right: 6px;
    margin-top: 1px;
    color: rgb(212, 212, 212);
    cursor: pointer;
}
.describe .icon:hover{
    color: red;
}